.idea/
__pycache__/
VKBotEncripter.py
VKBotInstaller.py
VKBotTable.py
.VKBotToken.py
exportToHTML/
_config.yml
.logs/
VKBotAudioMessage.py
speakerKey.py
VKBotLoginData.json
vk_config.v2.json
*.log
.testDir/
.directory
.*
.*/
params.json
last_msg.id
test.py